<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="speroteck_salerecommendation_add_order_extension_attribute" type="Speroteck\SaleRecommendation\Plugin\Magento\Checkout\Api\ShippingInformationManagementPlugin" />
    </type>
</config>